<div class="modal fade" id="new-question-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="z-index: inherit;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Find Words</h4>
      </div>
      <form class="form-horizontal" action="/result" method="get">
        <div class="modal-body">
          <div class="form-group">
            <label for="character" class="col-sm-2 control-label">Possible Words</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="character" name="character" placeholder="Find all possibilities">
            </div>
            <div class="col-sm-4"><h6>All special characters and numbers will be removed</h6></div>
          </div>
          <div class="form-group">
            <label for="character_exact" class="col-sm-2 control-label">Use all Letters</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="character_exact" name="character_exact" placeholder="Find a word that uses all letters">
            </div>
            <div class="col-sm-4"><h6>All special characters and numbers will be removed</h6></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Find Words</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->