<h1>Welcome</h1>
<div class="col-sm-6">
  <% if @result_set.present? %>
      <strong>Valid Words</strong>
      <% @result_set.each do |result| %>
      <div>
        <%= result %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-sm-6">
  <% if @exact_result_set.present? %>
      <strong>Exact Words</strong>
      <% @exact_result_set.each do |result| %>
          <div>
            <%= result %>
          </div>
      <% end %>
  <% end %>
</div>


